.cards__wrapper {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  width: 300px;
  min-height: 300px;
  display: inline-block;
  position: relative;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
  margin-bottom: 2rem;
}

.card-image {
  width: 300px;
  height: 200px;
  object-fit: fill;
}

.card:hover {
  transition: all 0.5s;
}

.desc-text {
  color: black;
  font-family: "SF Pro Display";
  font-size: 1em;
  padding: 8px;
  width: 95%;
  margin: 0;
}

@media (min-width: 700px) {
  .cards__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .card {
    width: 600px;
    min-height: 600px;
    display: inline-block;
    position: relative;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
      0 2px 1px -1px rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2rem;
  }

  .card-image {
    width: 600px;
    height: 400px;
    object-fit: fill;
  }
}
